@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins);
  --color-col-1: #272727;
  --color-col-2: #39db4a;
  --color-col-3: #4a4a4a;
  --color-col-4: #4d4d4d;
  --color-col-5: #1e1e1e;
  --color-col-6: #fcfcfc;
  --color-col-7: #ff6868;
  --color-col-8: #c1f1c6;
  --color-col-9: #555;
  --color-col-10: #ffe605;
  --color-col-11: #454545;
  --shadow-col-1: -2px 22px 38px 0px #8eff9a80;
  --shadow-col-2: 6px 27px 34px 0px #0000001a;
  --shadow-col-3: 2px 10px 30px 0px #0000001a;
  --shadow-col-4: 2px 9px 42px 0px #00000014;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .primaryHover {
    @apply hover:-translate-y-1 transition-all duration-300;
  }
}

@layer utilities {
  .heroBg {
    background: linear-gradient(180deg, #fafafa 0%, #fcfcfc 100%);
  }
}
